@import "tailwindcss";

* {
    font-family: "Rethink Sans", sans-serif;
}

button {
    @apply cursor-pointer;
}

.no-scrollbar::-webkit-scrollbar { display: none; }

.cl-drawerRoot {
     z-index: 100;
}